<div>
  <input placeholder="Text here" [(ngModel)]="messages">
  <button (click)="clicked()">Send</button>
</div>
<p style="margin-left: 10%;">Chatting Box</p>
<button *ngIf="!loggedIn" (click)="login()">Login With Google</button>
<button *ngIf="loggedIn" (click)="logout()">Logout</button>
<h1>-------------</h1>
<img *ngIf="userInfo" src={{userInfo.photoURL}}>
<h1>-------------</h1>
<p *ngIf="userInfo">User ID : {{userInfo.displayName}}</p>
<p *ngIf="userInfo">User Email : {{userInfo.email}}</p>
<p *ngIf="userInfo">User Email : {{userInfo.uid}}</p>
